section.vine
	background-color: #00bf8f
	color: white

	.home-cta
		color: #00bf8f

	.coub
		width: 400px
		height: 400px
		box-shadow: 0 3px 20px rgba(0, 0, 0, .9)

	.description
		display: flex
		align-items: center

		@media (max-width: 640px)
			margin-top: 2rem
	
	@media (max-width: 1000px)
		.col-1
			text-align: center
		.coub
			width: auto
			height: 300px

