section.youtube
	// background: url('../images/section-youtube-bg.png') no-repeat center bottom
	// background-size: cover
	background-color: #ea4d4d
	color: white

	.home-cta
		color: #ea4d4d
	
	.video-strip
		margin: -2rem 0
		position: absolute
		top: 0
		width: 100%
		height: calc(100% + 4rem)
		background-image: url('../images/video-strip.png')
		background-position: center top
		background-repeat: repeat-y
		background-size: 75%
	.col-1
		position: relative
