section.mentoring
	background: #809dcc
	color: white
	height: 550px
	overflow: hidden

	.home-cta
		color: #2cb4db

	.home-lead
		margin-top: 250px

	.faces
		position: relative
		padding: 0
		margin: -2rem 0
		height: calc(100% + 4rem)
		list-style: none
		top: 800px
		transition: all .3s ease-in-out

		&.launched
			top: 0


	.face
		position: relative
		height: 80px
		width: 80px
		margin-bottom: 35px
		border-radius: 50%
		background-size: cover
		background-position: center
		box-shadow: 0px 4px 8px rgba(0, 0, 0, .4)
		cursor: pointer
		p, cite
			font-size: 18px

		& .back-btn
			background: white
			background-size: 15px 25px
			display: none

	.bubble
		left: 100%
		bottom: 50%
		margin-left: 10px
		padding: 20px
		width: 15em
		position: absolute
		opacity: 0
		background: rgba(0, 0, 0, .8)
		border-radius: 40px 40px 40px 4px
		border: 3px solid white
		pointer-events: none
		transition: all .4s cubic-bezier(0, .53, .34, 1.5)
		transform: scale(0)
		transform-origin: bottom left


	.face.has-bubble-open .bubble
		opacity: 1
		transform: scale(1)

@media (max-width: 640px)
	section.mentoring
		height: auto

		.faces
			margin: 0
			top: 230px
			left: 0
			width: 115px * 11
		.face
			display: inline-block
			margin-right: 35px

			& .back-btn
				display: inline-block

		.bubble
			bottom: 100px
			left: 0
			box-sizing: border-box
			margin-left: 0
