main
// Flex Classes
	.flex
		padding: 2rem 0
		display: flex
		flex-direction: row
		&--center
			justify-content: center
		&--space-around
			justify-content: space-around
		&--center
			justify-content: center
	.order-first
		order: -1

// Columns
.col-1
	margin: 0 10px
	width: 300px

.col-2
	margin: 0 10px
	width: 100%
	max-width: 620px

.col-50
	width: 50%

.push-right
	margin-left: 330px 

@media (max-width: 640px)
	main .flex
		display: block
	.col-1, .col-2, .col-50
		width: auto
	.push-right
		margin-left: 10px

// typography
.home-lead
	line-height: 1

	&.outdented
		text-indent: -.7em

@media (max-width: 640px)
	.home-lead
		text-align: center

		&.outdented
			text-indent: 0
