// Header nav-bar buttons
.nav-bar
	margin: 0 auto
	padding: .85rem .6rem
	display: flex
	flex-direction: column
	text-align: center
	// text-transform: uppercase
	text-decoration: none
	color: black
	&:hover
		text-decoration: none
		color: black
		opacity: .75
		transform: translateY(3px)
		transition: .1s
		.logo--js-j-svg
			fill: #4CAF50
		.logo--js-s-svg
			fill: #FFEB3B
		.nav-link--home-svg
			fill: #E91E63
		.nav-link--about-svg
			fill: #f44336
		.nav-link--gallery-svg
			fill: #9C27B0
		.social-links--gmail
			fill: #03A9F4

// Page buttons
.home-cta
	padding: .4em 0
	line-height: 1.25
	display: block
	background: white
	font-size: 28px
	text-align: center
	text-decoration: none
	box-shadow: 0 5px 14px rgba(0, 0, 0, .4)
	transition: all .15s ease-in-out
	&:hover
		box-shadow: 0 3px 10px rgba(0, 0, 0, .2)
		transform: translateY(2px)
		// opacity: 1
