.flex-video
	height: 0
	padding-bottom: 56%
	overflow: hidden
	position: relative

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video
	top: 0
	left: 0
	height: 100%
	width: 100%
	position: absolute
