.blog-news.col-2
	.blog-title
		.news-style
			a Georgeek photo epic
		h2 This One Time, At Team Camp
	.blog-meta
		span Mar 21, 2017
	.blog-author
		| by "
		a(href='vk.com/georgeek') George Madyarov
		| " button-text
	.user-action