section.youtube
	.flex.flex--space-around
		.col-1
			.video-strip
			.flex-video
				iframe(width="854" height="480" src="https://www.youtube.com/embed/_PI3NlIDxJw?ecver=1" frameborder="0" allowfullscreen)
		.col-1.order-first
			p.home-lead.outdented ...You want to sell Peugeot to Japan? There is nothing impossible! (Taxi 2)
			a(href="https://vk.com/georgeek").home-cta Watch on VKontakte