section.notes
	.flex.flex--center
		.col-2
			p.home-lead ...&nbsp;Sending email notes&nbsp;...

			.notes-signup-box
				.form-wrap
					form
						.form-display
							.field-group
								label.label-name(for='mce-NAME' value="Name") Name
								input(type="text" value="" name="NAME")
							.field-group
								label.label-email(for='mce-EMAIL' value="Email") Email
								input(type="email" value="" name="EMAIL")
							input(type="submit" value="Subscribe" class="button")

	.flex.flex--center
		.col-1
			p Лети, лети письмецо, через запад на восток, через север, через юг, возвращайся, сделав круг. Лишь коснешься ты земли, будь по-моему вели!
		.col-1
			p Надо сходить в магазин и купить:
			ul
				li: a(href="") Творог,
				li: a(href="") бананы,
				li: a(href="") мед