mixin thumb
	a(href="" style="background-image: url(http://www.placecage.com/230/500)").article-thumb
		.article-meta
			.name Article name
			.date Sep 25, 1988
section.articles
	.flex.flex--center

		.col-50
			.article-wrap
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb
				+thumb

		.col-50.flex.flex--center.order-first
			.col-1
				.description-wrap
					p.home-lead.outdented ...Feedback is like an second argument of the function - a Callback...
					a(href="").home-cta See Feedback