section.podcast
	.flex.flex--center
		.col-2
			p.home-lead ... and listening Podcasts.

			.podcast-content
				.podcast-thumb
					img(src="http://placehold.it/150x150")

				.podcast-text
					.date 21 Jul 2015
					.title Full-Process Designer
					.player: iframe(frameborder='0' height="36px" scrolling='0' seamless src='https://simplecast.fm/e/14311?style=light' width='100%')
	.flex.flex--center
		.col-1
			a(href='').home-cta.web Website
		.col-1
			a(href='').home-cta.itunes iTunes