extends layout

block content
	section.title
		h1= pageTitle
	.blog-container
		- var sectionTitle = 'Georgeek photo epic'
		- var storyTitle = 'This One Time, At Team Camp'
		- var postDate = 'Mar 22, 2017'
		- var author = 'George Madyarov'
		include sections/blog-news.pug
		.blog-body
			.flex
				.photo-container
					.photo-element
						img.photo-100(src="https://ep1.pinkbike.org/p6pb14481063/p5pb14481063.jpg")
						.photo-title.flex.flex--center
							.photo-title--overlay
								.photo-title--line-1 this one time
								.photo-title--line-2 at team camp
								.photo-title--line-3 intence factory racing in california
								.photo-title--line-4 photography and words // georgeek madyarov //
			.flex.flex--space-between
				.col-50
					.photo-container
						.photo-element
							img.photo-100(src="https://ep1.pinkbike.org/p6pb14490677/p5pb14490677.jpg")
				.col-50
					.photo-container
						.photo-element
							img.photo-100(src="https://ep1.pinkbike.org/p6pb14485737/p5pb14485737.jpg")

			.flex
				.col-2.text-container
					span(class="bold") Lorem
					|  ipsum dolor sit amet, consectetur adipisicing elit. Eius quia, facilis repudiandae delectus illo quaerat veritatis possimus, quos provident. Illo corporis quos impedit id odio voluptas rem in, neque ab!
					| p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
					| p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
					| p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
					br
					br
					br
					span(class="bold") Lorem
					|  ipsum dolor sit amet, consectetur adipisicing elit. Eius quia, facilis repudiandae delectus illo quaerat veritatis possimus, quos provident. Illo corporis quos impedit id odio voluptas rem in, neque ab!
					| p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
					| p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
					| p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.

			.flex
				.photo-container
					.photo-element
						img.photo-100(src="https://ep1.pinkbike.org/p6pb14480565/p5pb14480565.jpg")
					.photo-news-caption
						img.georgeek-caption(src="https://es.pinkbike.org/246/sprt/i/pb-small.png")
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil vitae esse ad quam amet aspernatur aliquid. Molestiae quaerat, labore asperiores aspernatur dicta minima quo aut voluptatum quia dolorem sapiente.

			.flex
				.col-2.text-container
					.quotes
						.quotes--icon
							img(src="https://es.pinkbike.org/246/sprt/i/bigquotes-left.png", alt="")
						.quotes--container
							.quotes--text.
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tenetur, officiis, cum, vel ratione labore asperiores animi minima nihil at odio enim voluptas assumenda fugiat nesciunt. Dolorem, necessitatibus doloremque vel!
							.quotes--author
								span.quotes--author-dash -
								|  Georgeek Madiarov



			.flex
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
			.flex.flex--space-between
				.col-50
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt consectetur facere vitae sint inventore pariatur, et dolores, tempora dolorum doloremque ab, harum nisi unde sit tempore natus id saepe commodi.
				.col-50
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nisi nihil iste aspernatur culpa, perspiciatis quae suscipit rem blanditiis ea dolore, exercitationem magnam esse dolor sed facilis. Animi, repellat, culpa.
	.blog-container

		- var title = 'Georgeek photo story'
		- var storyTitle = 'Another awesome photostory'
		- var postDate = 'Mar 22, 2017'
		- var author = 'Busya & Peche'
		include sections/blog-news.pug



