extends layout

block content
	section.title
		h1= title
	.blog-container
		include sections/blog-news.pug
		.blog-body
			.flex
				.photo-container
					//- img(src="https://ep1.pinkbike.org/p6pb14481063/p5pb14481063.jpg")

			.flex
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur beatae in, neque. Pariatur blanditiis totam consequatur ratione impedit in, aliquid velit nemo culpa accusantium, quae quo numquam nihil est cum.
			.flex.flex--space-between
				.col-50
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt consectetur facere vitae sint inventore pariatur, et dolores, tempora dolorum doloremque ab, harum nisi unde sit tempore natus id saepe commodi.
				.col-50
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nisi nihil iste aspernatur culpa, perspiciatis quae suscipit rem blanditiis ea dolore, exercitationem magnam esse dolor sed facilis. Animi, repellat, culpa.



