extends layout

block content
	section.title
		h1= title
	section.about
		.flex.flex--center
			.col-1.push-right
				h2 This is my personal Home Page,
				p.home-lead so you have to deal with it and keep moving forward...

	include sections/section-youtube.pug
	include sections/section-mentoring.pug
	include sections/section-articles.pug
	include sections/section-vine.pug
	include sections/section-portfolio.pug
	include sections/section-notes.pug
	include sections/section-podcast.pug
	include sections/footer-home-footer.pug
