extends layout

block content
	h1= title

	section.about
		.flex.flex--center
			.col-1.push-right
				h2 This is my personal Home Page,
				p.home-lead so you have to deal with it and keep moving forward...
	
	section.youtube
		.flex.flex--space-around
			.col-1
				.video-strip
				.flex-video
					iframe(width="854" height="480" src="https://www.youtube.com/embed/_PI3NlIDxJw?ecver=1" frameborder="0" allowfullscreen)
			.col-1.order-first
				p.home-lead.outdented ...You want to sell Peugeot to Japan? There is nothing impossible! (Taxi 2)
				a(href="https://vk.com/georgeek").home-cta Watch on VKontakte

	section.mentoring
		.flex.flex--center
			.col-1
				p Секция 2!!!
			.col-1
				p.home-lead.outdented ...You want to sell Peugeot to Japan? There is nothing impossible! (Taxi 2)
				a(href="https://vk.com/georgeek").home-cta Watch on VKontakte

	section
		.flex.flex--center
			.col-2
				p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vitae impedit, beatae aperiam inventore blanditiis. Aperiam nemo praesentium id, odit ex. Voluptas rem vero sed fugiat cum nulla minus, dolores.


	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
					p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vitae impedit, beatae aperiam inventore blanditiis. Aperiam nemo praesentium id, odit ex. Voluptas rem vero sed fugiat cum nulla minus, dolores.
		.col-50
				p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vitae impedit, beatae aperiam inventore blanditiis. Aperiam nemo praesentium id, odit ex. Voluptas rem vero sed fugiat cum nulla minus, dolores.
