extends layout

block content
  h1= title
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim vitae impedit, beatae aperiam inventore blanditiis. Aperiam nemo praesentium id, odit ex. Voluptas rem vero sed fugiat cum nulla minus, dolores.