.about
	background: #f2f4f7
	// background-image: url()
	// position: center bottom
	// size: cover

	h2
		color: #3f3f42
		font-weight: 400
		// font-size: 60px
		line-height: 1
		margin-left: -108px
		margin-top: 0
	
	.home-lead
		padding-bottom: 180px

@media (max-width: 640px)
	.about
		h2, .home-lead
			margin-left: auto
			max-width: 300px

