@import './0-tools/fonts'
// Добавить размеры шрифтов

@import './1-modules/buttons'
@import './1-modules/flex-video'

@import './2-sections/header'
@import './2-sections/section-about'
@import './2-sections/section-youtube'
@import './2-sections/section-mentoring'
@import './2-sections/section-articles'
@import './2-sections/section-vine'
@import './2-sections/section-portfolio'

@import './3-layouts/index'

body
	font: 1.5rem "Slabo 27px", Helvetica, Arial, sans-serif
	background-color: #edf3ff
	margin: 0

.site-wrap
	display: flex
	min-height: 100vh

	@media (max-width: 775px)
		display: block

main
	flex: 1
	height: 2000px

h1
	padding: 1.3rem 2rem 0
	color: black
	font-weight: 700
	font-size: 4rem

a
	text-decoration: none
