body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #a0a0a0

.site-wrap
  display: flex
  min-height: 100vh

main
  flex: 1
  height: 2000px

header
  width: 10rem
  padding: 30px 0
  .header-position
    position: fixed
    top: 0
    left: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: white
    text-align: center
  &:hover
    span
      transform: translateX(0)
      transition: .2s
  span
    margin-top: 5px
    transform: translateX(-100px)
    transition: .1s
    color: black
  a
    margin: 0 auto
    padding: .85rem .6rem
    display: flex
    flex-direction: column
    text-align: center
    text-transform: uppercase
    color: black
    &:hover
      text-decoration: none
      color: black
      opacity: .75
      transform: translateY(3px)
      transition: .1s
      .logo--js-j-svg
        fill: #4CAF50
      .logo--js-s-svg
        fill: #FFEB3B
      .nav-link--home-svg
        fill: #E91E63
      .nav-link--about-svg
        fill: #f44336
      .nav-link--gallery-svg
        fill: #9C27B0
      .social-links--gmail
        fill: #03A9F4
    svg
      margin: 0 auto
      width: 40px
      height: 40px
  .logo
    svg
      height: 80px
      width: 80px

  ul
    margin: 0 auto
    padding: 0
    display: flex
    flex-direction: column
    list-style: none

  .social-links
    margin: 0 auto
    padding: 0
