// fonts
@import './fonts'

@import './header'
@import './index'

// index section
@import './section-about'

body
	font: 1.5rem "Slabo 27px", Helvetica, Arial, sans-serif
	background-color: #edf3ff
	margin: 0

.site-wrap
	display: flex
	min-height: 100vh

	@media (max-width: 775px)
		display: block

main
	flex: 1
	height: 2000px

h1
	padding: 1.3rem 2rem 0
	color: black
	font-weight: 700
	font-size: 4rem

// index Section about
.home-lead
	line-height: 1
